@font-face {
  font-family: "badlyst";
  src: url(../font/BadlyStamped.ttf);
}
@font-face {
  font-family: "Shella Clean";
  src: url(../font/shellaclean.ttf);
}
@font-face {
  font-family: "streetlgt";
  src: url(../font/streetlight.ttf);
}

body{
  position: relative;
  height: 100%;
  margin:0;
  padding: 0;
  font-size: 16px;
  font-family: 'Noto Serif', serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.navbar{
  margin-bottom: 0;
  border-radius: 0;
  background-color: #222222;
  color: #9e9e9e;
  padding: 1% 0;
  font-size: 1.2em;
  font-weight: bold;
  border:0;
}

.navbar-search{
  float: left;
  min-height: 55px;
  padding: 0 15px 5px;
}

#account-dropdown a:hover{
  color: #fff;
  background-color: #222;
}


/* Showcase */

#showcase{
  background: url(../img/parallax1.jpeg) top;
  background-size: cover;
  opacity: 0.8;
  padding: 1em;
  color: #F0F30F;
  /* padding-bottom: 500px; */
}

#showcase h1{
  font-family: 'Shella Clean';
  font-size: 100px;
  /* padding-top: 250px; */
}

#showcase p{
  font-size: 25px;
  text-align: justify;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

/* Carousel */

#myCarousel img{
  opacity: 0.6;
}

.carousel-caption{
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1{
  /* text-transform: uppercase; */
  font-family: 'Shella Clean';
  font-size: 150px;
  color:#2C2C2A;
}

.carousel-caption h4{
  font-size: 25px;
  color:#000;
}

/* SignUp Register Form */

#NavBarSignUP .glyphiconHome{
  font-size: 25px;
}

#NavBarSignUP .textHome{
  visibility: hidden;
}

/*myRegisterForm*/
#myRegisterForm{
	padding: 0 200px 0 200px;
	padding-bottom: 10px;
}

#myRegisterForm h1{
	font-family: 'Shella Clean';
	font-size: 60px;
}

#myRegisterForm p{
	padding-bottom: 30px;
}

/*Sign Up Form*/

.signupForm{
	display: flex;
}

.signupForm input{
	width: 100%;
	margin-bottom: 20px;
}

.signupForm input[type="email"], input[type="password"], input[type="text"]{
	border:none;
	border-bottom: 1px solid #000;
	outline: none;
	height: 40px;
	color: #000;
	font-size: 15px;
}

.signupForm .glyphicon{
	padding: 10px;
    /*background: dodgerblue;*/
    color: #000;
    min-width: 50px;
    font-size: 20px;
    text-align: center;
}

#fullName input{
	padding: 10px;
	margin-right: 10px;
}

/*Button Daftar*/
#myRegisterForm input[type="submit"]{
	width: 100%;
	text-transform: uppercase;
	font-weight: bold;
	border:none;
}

#myRegisterForm input[type="submit"]:hover{
	background-color:#00e676;
	color: #000;
}

/* cafeSection & eventSection */

#cafeSection .boxes a, #eventSection .boxes a{
  color: #000;
}

#cafeSection .boxes a:hover, #eventSection .boxes a:hover{
  color: #C27108;
}

#cafeSection h2, #eventSection h2{
  margin-bottom: 35px;
  font-size: 50px;
  font-weight: bold;
  font-family: Jua , streetlgt, sans-serif;
}

#cafeSection h1, #eventSection h1{
  font-family: Jua, streetlgt, sans-serif;
}

#cafeSection h4 a, #eventSection h4 a{
  color: #000;
  font-family: Jua, streetlgt, sans-serif;
}

#cafeSection .boxes , #eventSection .boxes {
  font-family: 'Noto Serif', serif;
}

#cafeSection .boxes, #eventSection .boxes{
  padding: 20px;
  box-sizing: border-box;
  max-width: 450px;
  text-align: justify;
}

/* profileSection */
#profileCarousel .carousel-caption h1{
  font-family: 'Jua', sans-serif;
  font-size: 100px;
}

#profileCarousel .carousel-caption h4{
  font-size: 38px;
}

#profileCarousel .carousel-caption p, #profileCarousel .carousel-caption p a {
  font-size: 30px;
  font-family: 'Noto Serif', serif;
  color: #000;
}


#profileSection h2{
  margin-bottom: 35px;
  font-size: 50px;
  font-weight: bold;
  font-family: Jua , streetlgt, sans-serif;
}

#profileSection h1{
  font-family: Jua, streetlgt, sans-serif;
}

#profileSection h4{
  font-size: 16px;
}

#profileSection .boxes p{
  font-family: 'Noto Serif', serif;
}


#profileSection .boxes{
  padding: 20px;
  box-sizing: border-box;
  text-align: justify;
}

#profileSection #editButton{
  font-family: 'Jua', sans-serif;
  font-size: 20px;
}

/* eventpageSection & cafepageSection */
#pageSection h1{
  font-family: 'Jua', sans-serif;
  font-size: 50px;
  padding-bottom: 30px;
}

#pageSection .eventboxes{
  padding-bottom: 20px;
  box-sizing: border-box;
}

#pageSection .eventboxes img{
  max-width: 450px;
}

#pageSection .eventboxes #textEvent h2{
  font-family: 'Jua', sans-serif;
  font-size: 40px;
}

#pageSection .eventboxes #textEvent h4{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

#pageSection .eventboxes #textEvent p{
  font-family: 'arial';
  font-size: 16px;
  text-align: justify;
}

#pageSection #pageButton{
  margin-left: 32px;
  margin-bottom: 10px;
  /* background-color: #B36806; */
  font-family: 'Jua', sans-serif;
  color: #000;
  font-size: 20px;
}

/*Modal Login*/
.modal-content{
	width: 350px;
	height: 475px;
	width: 60%;
	position: absolute;
	color: #000;
	background:#fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%,0%);
}

.modal-body h1{
	font-family: 'Shella Clean';
	font-size: 60px;
	color: #795548;
}

.modal-body{
	padding: 0 100px 20px 100px;
  margin: 0 35px;
}


.modal-body a{
	font-size: 14px;
	color: #000;
}

.modal-body a:hover{
	color: #795548;
}

#modalLogin .form-group input{
	width: 100%;
	margin-bottom: 20px;
}

#modalLogin input[type="email"], input[type="password"]{
	border:none;
	border-bottom: 1px solid #000;
	outline: none;
	height: 40px;
	color: #000;
	font-size: 15px;
}

#modalLogin input[type="submit"]{
	margin: 10px 0 10px 0;
	border:none;
	outline: none;
	width: 100%;
	height: 40px;
	background-color: #795548;
	color: #fff;
	font-size: 18px;
}

#modalLogin input[type="submit"]:hover{
	cursor: pointer;
	background: #00e676;
	color: #000;
  font-weight: bold;
}


/*Footer*/
#footerSection footer{
	position: relative;
  padding: 20px 0 20px 0;
  background: #222;
  font-size: 18px;
  color: #fff;
}

#footerSection footer a{
  color: #fff;
  margin-right: 5px;
}

#footerSection footer span{
	font-family: 'Shella Clean';
}


/* Mobile Version */
@media(max-width: 770px){
  /* Global */
  #NavBarSignUP .glyphicon{
    margin-right: 20px;
  }

  #account-dropdown li a{
    font-weight: bold;
  }


  /* Carousel Mobile */
  #myCarousel .carousel-caption h1{
    font-size: 45px;
    color: #fff;
  }

  #myCarousel .carousel-caption h4{
    font-size: 14px;
    font-weight: normal;
  }

  .carousel-caption{
    top: 50%;
    transform: translateY(-75%);
  }

  /* Login Modals Mobile */
  .modal-content{
    width: 80%;

  }

  .modal-body{
    margin:0;
    padding:10px;
  }

  #modalLogin a{
    font-size: 12px;
  }

/* myRegisterForm Mobile */
  #myRegisterForm{
    padding: 30px;
  }

  #myRegisterForm h1{
    font-size: 40px;
    text-align: center;
  }

  #myRegisterForm p{
    font-size: 12px;
    padding-bottom: 0;
    text-align: center;
  }

  #myRegisterForm .glyphicon{
    display: none;
  }

  /* cafeSection */
  #cafeSection h4 a{
    font-size: 12px;
    color: #000;
  }

  /* eventSection */
  #eventSection{
    margin-bottom: 20px;
  }
  #eventSection h4 a{
    font-size: 12px;
    color: #000;
  }

  /* eventpageSection */
  #pageSection .eventboxes img{
    max-width: 318px;
  }

  #pageSection .eventboxes #textEvent h2{
    font-size: 26px;
  }

  #pageSection .eventboxes #textEvent h4{
    font-size: 16px;
  }

  /* profileCarousel */
  #profileCarousel .carousel-caption p, #profileCarousel .carousel-caption p a {
    visibility: hidden;
  }

  /* footerSection */
  #footerSection footer{
    font-size: 14px;
    padding: 20px 0 10px 0;
  }
}
